div.carousel {
    overflow: hidden;
    position: relative;

    div.carousel-item {
        width: 100%;
        display: none;
        transition: transform .6s ease;

        &.active, &.next, &.previous{
            display: block;    
        }

        &.active, &.previous {
            top: 0;
            position: absolute;
        }

        &.next {
            transform: translate3d(100%, 0, 0);
        }
        &.active {
            transform: translate3d(0, 0, 0)
        }
        &.previous {
            transform: translate3d(-100%, 0, 0)
        }

        height: 200px;
        background-color: #ddd;
    }

    div.left-control, div.right-control {
        position: absolute;
        top: 0;
        height: 100%;
    }

    div.left-control {
        left: 0;
    }
    
    div.right-control {
        right: 0;
    }
}
